<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BingAdsConsoleApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- To use the production environment, set this value to "Production". -->
    <add key="BingAdsEnvironment" value="Sandbox" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <BingAdsConsoleApp.Properties.Settings>
      <setting name="DeveloperToken" serializeAs="String">
        <value>BBD37VB98</value>
      </setting>
      <setting name="ClientId" serializeAs="String">
        <value>4c0b021c-00c3-4508-838f-d3127e8167ff</value>
      </setting>
    </BingAdsConsoleApp.Properties.Settings>
  </userSettings>
</configuration>
