# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- main

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/Microsoft.BingAds.csproj'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:

- task: CmdLine@2
  inputs:
    script: |
       echo $(AssemblyKey) |  base64 -d > BingAdsApiSDK\35MSSharedLib1024.snk
       mkdir BingAdsApiSDK\Properties
       echo $(AssemblyInfo) > BingAdsApiSDK\Properties\AssemblyInfo.cs

- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:DesktopBuildPackageLocation="$(build.artifactStagingDirectory)\WebApp.zip" /p:DeployIisAppPath="Default Web Site"'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: VSTest@2
  inputs:
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: SFP.build-tasks.custom-build-task-1.EsrpCodeSigning@5
  displayName: ESRP CodeSigning dll
  inputs:
    ConnectedServiceName: BingAdsSDKRelease
    AppRegistrationClientId: 947b0f8c-e90a-47de-b15d-81396e5220af
    AppRegistrationTenantId: 975f013f-7f24-47e8-a7d3-abc4752bf346
    AuthAKVName: BingAdsSDKESRPReleaseKV
    AuthCertName: NewBingAdsSDKESRP
    AuthSignCertName: NewBingAdsSDKESRPSigning
    FolderPath: $(Pipeline.Workspace)/s/BingAdsApiSDK/bin/Any CPU/Release/net80
    Pattern: '*.dll'
    signConfigType: 'inlineSignParams'
    inlineOperation: |
      [
          {
              "KeyCode" : "CP-230012",
              "OperationCode" : "SigntoolSign",
              "Parameters" : {
                  "OpusName" : "Microsoft",
                  "OpusInfo" : "http://www.microsoft.com",
                  "FileDigest" : "/fd \"SHA256\"",
                  "PageHash" : "/NPH",
                  "TimeStamp" : "/tr \"http://rfc3161.gtm.corp.microsoft.com/TSS/HttpTspServer\" /td sha256"
              },
              "ToolName" : "sign",
              "ToolVersion" : "1.0"
          },
          {
              "KeyCode" : "CP-230012",
              "OperationCode" : "SigntoolVerify",
              "Parameters" : {},
              "ToolName" : "sign",
              "ToolVersion" : "1.0"
          }
      ]

- task: NuGetCommand@2
  displayName: 'Create NuGet Package with Symbols'
  inputs:
    command: custom
    arguments: 'pack Microsoft.BingAds.SDK.nuspec -Symbols -SymbolPackageFormat snupkg'

- task: SFP.build-tasks.custom-build-task-1.EsrpCodeSigning@5
  displayName: ESRP CodeSigning NuGet
  inputs:
    ConnectedServiceName: BingAdsSDKRelease
    AppRegistrationClientId: 947b0f8c-e90a-47de-b15d-81396e5220af
    AppRegistrationTenantId: 975f013f-7f24-47e8-a7d3-abc4752bf346
    AuthAKVName: BingAdsSDKESRPReleaseKV
    AuthCertName: NewBingAdsSDKESRP
    AuthSignCertName: NewBingAdsSDKESRPSigning
    FolderPath: $(Pipeline.Workspace)/s
    Pattern: '*.nupkg'
    signConfigType: 'inlineSignParams'
    inlineOperation: |
      [
       {
        "KeyCode": "CP-401405",
        "OperationCode": "NuGetSign",
        "ToolName": "sign",
        "ToolVersion": "1.0",
        "Parameters": {}
       }
      ]

- task: PublishPipelineArtifact@0
  displayName: 'Publish Pipeline Artifact: drop-dll'
  inputs:
    artifactName: 'Microsoft.BingAds'
    publishLocation: 'pipeline'
    targetPath: '$(Pipeline.Workspace)'